<template>
 <div class="full-width center-content">
      <h1>{{ message }}</h1>
      <button v-on:click="add" v-if="seen">Add</button>
 </div>
 
</template>

<style scoped>
.full-width {
  width: 100%;
  background: url('./static/img/IMG_2356.jpg');
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
    color: gold;
}
</style>

<script>
import test from './myCode/test.js'
export default {
  name: 'app',
  data() {
    return {
      message: 'Hello, Vue From W!',
      seen: test.ShowMe()
    };
  },
  methods:{
    add: function(){
      console.log('3 + 5 = ', test.Add(3,5))
    }
  }
};
</script>